<!DOCTYPE html>
<html>

<head>
    <title>Servus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="/js/site.js"></script>-->
</head>

<body>

    <div id="sidepanel" class="sidepanel">

        <h1>Servus</h1>

        <ul>
            <li>
                <div onclick="display('jobs')" style="cursor: pointer;">
                    <span v-if="page === 'jobs'">➤</span> Jobs
                </div>
            </li>
            <li>
                <div onclick="display('machines')" style="cursor: pointer;">
                    <span v-if="page === 'machines'">➤</span> Machines
                </div>
            </li>
            <li>
                <div onclick="display('users')" style="cursor: pointer;">
                    <span v-if="page === 'users'">➤</span> Users
                </div>
            </li>
            <li>
                <div onclick="display('log')" style="cursor: pointer;">
                    <span v-if="page === 'log'">➤</span> Log
                </div>
            </li>
        </ul>
    </div>

    <div class="main">

    </div>

    <script>
        // we have to use 'var' here to have non-lexical scope

        var app = new Vue({
            el: '#sidepanel',
            data: {
                page: 'jobs'
            }
        });

        function page_jobs() {
            app.page = 'jobs';
        }

        function page_machines() {
            app.page = 'machines';
        }

        function page_users() {
            app.page = 'users';
        }

        function page_log() {
            app.page = 'log';
        }

        function httpGet(url) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }
        
    </script>

</body>

</html>