html, body {
    height: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    
    font-family: "Lucida Console", Monaco, monospace;
    font-variant: small-caps;
}

.block {
    float: left;
    height: 100%;
}

#sidepanel {
    width: 20em;
    background-color: black;
    color: white;
    padding-left: 3em;
}

#main {
    padding-left: 5em;
    flex-grow: 100;
}

h1, h2 {
    text-transform: uppercase;
    font-size: 3em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 1vh;
    font-size: 2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;

    width: 60vw;
}

td {
    min-width: 10em;
    text-align: center;

    border-width: 0px;
}

input {
    background-color: transparent;
    border-style: none;
    text-align: center;

    display: inline-block;
    margin: 0 auto;

    font-family: "Lucida Console", Monaco, monospace;
    font-variant: small-caps;
}

.table_row:hover {
    background-color: #eee;
}

.table_row_odd {
    background-color: #fafafa;
}

.btn {
    color: white;
    width: 150px;
    height: 30px;
        
    text-align: center;
    vertical-align: middle;
    
    font-family: "Lucida Console", Monaco, monospace;
    font-variant: small-caps;
    font-weight: bolder;
    
    border-style: none;
    border-radius: 5px;

    box-shadow: 3px 3px #eee;

    cursor: pointer;
}

.add_btn {
    background-color: #46e041;
}

.refresh_btn {
    background-color: #3399ff;
}

.save_btn {
    background-color: #ffcc00;
}

.delete_btn {
    color: red;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

/*
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;

    margin-top: 3em;
    margin-bottom: 3em;
}
*/

hr {
    border: 0;
    color: transparent;

    margin-top: 3em;
    margin-bottom: 3em;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}
