<h2>Jobs</h2>

<button class="btn add_btn"><span class="fa fa-plus"></span> Add job</button>

<button class="btn refresh_btn"><span class="fa fa-repeat"></span> Refresh</button>

<button class="btn save_btn"><span class="fa fa-check"></span> Save changes</button>

<hr/>

<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Schedule</th>
        <th>Target</th>
        <th>Owner</th>
        <th>Send email</th>
        <th></th>
    </tr>
    <tr ng-repeat="job in jobs" ng-class="'table_row'" ng-class-odd="'table_row_odd'">
        <td>
            <div ng-switch on="job.last_status">
                <span class="fa fa-check-circle-o" ng-switch-when="true"></span>
                <span class="fa fa-exclamation-triangle" ng-switch-when="false"></span>
            </div>
        </td>
        <td>
            <input ng-model="job.name">
        </td>
        <td>
            <input ng-model="job.schedule">
        </td>
        <td>
            <input ng-model="job.target.name">
        </td>
        <td>
            <input ng-model="job.owner.name">
        </td>
        <td class="basic_td">
            <label class="main">
                <input type="checkbox" ng-model="job.send_email">
                <span class="w3docs"></span>
            </label>
        </td>
        <td>
            <button class="fa fa-times delete_btn"></button>
        </td>

        <!--
        <td>
            <button class="show_job_detail" data-id="{{ machine.id }}">Detail</button>
        </td>

        <div id="{{ machine.id }}" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>{{ machine.id }}</p>
            </div>        
        </div>
        -->

    </tr>
</table>

<!--
<div style="max-width: 50vw;">
    {{ jobs }}
</div>
-->

<hr/>
