<div ng-app="myApp" ng-controller="MachinesController"></div>
    <h2>Machines</h2>

    <button class="btn add_btn"><span class="fa fa-plus"></span> Add machine</button>

    <button class="btn refresh_btn"><span class="fa fa-repeat"></span> Refresh</button>

    <button class="btn save_btn"><span class="fa fa-check"></span> Save changes</button>

    <hr/>

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Username</th>
            <th>Address</th>
            <th>Port</th>
        </tr>
        <tr ng-repeat="machine in machines" ng-class="'table_row'" ng-class-odd="'table_row_odd'">
            <td>
                <button class="fa fa-times in_row_btn" title="Delete machine"></button>
            </td>
            <td>
                <input ng-model="machine.name" class="table_input">
            </td>
            <td>
                <input ng-model="machine.username" class="table_input">
            </td>
            <td>
                <input ng-model="machine.url" class="table_input">
            </td>
            <td>
                <input ng-model="machine.port" class="table_input">
            </td>
        </tr>
    </table>

    <hr/>

<!--
    <div style="max-width: 50vw;">
{{ machines }}
    </div>
-->

</div>