<div ng-app="myApp" ng-controller="UsersController">

    <h2>Users</h2>
        
    <button class="btn add_btn" ng-click="addUser()">
        <span class="fa fa-plus"></span> Add user
    </button>

    <button class="btn refresh_btn" ng-click="refresh()" ng-disabled="!hasChanged()">
        <span class="fa fa-repeat"></span> Refresh
    </button>

    <button class="btn save_btn" ng-click="updateUsers()" ng-disabled="!hasChanged()">
        <span class="fa fa-check"></span> Save changes
    </button>

    <hr/>

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="user in users" ng-class="'table_row'" ng-class-odd="'table_row_odd'">
            <td>
                <button class="fa fa-times in_row_btn" ng-click="deleteUser(user.id)" title="Delete user"></button>
            </td>
            <td>
                <input class="table_input" ng-model="user.name">
            </td>
            <td>
                <input class="table_input" ng-model="user.email">
            </td>
        </tr>
    </table>

</div>