<div class="sidepanel">

    <h1>Servus</h1>

    <ul>
        <li>
            <a href="/jobs">
                {{#if jobs}}➤{{/if}} Jobs
            </a>
        </li>
        <li>
            <a href="/machines">
                {{#if machines}}➤{{/if}} Machines
            </a>
        </li>
        <li>
            <a href="/users">
                {{#if users}}➤{{/if}} Users
            </a>
        </li>
        <li>
            <a href="/log">
                {{#if log}}➤{{/if}} Log
            </a>
        </li>
    </ul>
</div>